<!--Este es el contenedor padre y tiene la clase main-container -->
<div class="main-container">
  <!--Este contenedor con la clase detail-card servira como una card que contiene nuestro titulo del formulario y el formulario-->
  <div class="detail-card">
    <div class="card-header">
      <span class="badge">Seguridad</span>
      <h1>Cambiar Contraseña</h1>
    </div>
<!--Aqui tenemos este bloque if que esta preguntando que si message tiene algo de ser asi mostara nuestro mensaje-->
    @if (message()) {
      <!--Antes de mostrar el mensaje evaluamos si isError es false le colocaremos la clase alert-succes a este div en caso contario que sea true le colocaremos alert-danger de clase-->
      <div class="alert" [class.alert-success]="!isError()" [class.alert-danger]="isError()">
        {{ message() }}
      </div>
    }
<!--Nuestro formulario al darle click en el boton actualizar seguridad lo que haremos sera llamar al metodo updatePassword para actualizar nuestra password -->
    <form (ngSubmit)="updatePassword()" class="card-content">
      <div class="info-group">
        <label>Contraseña Actual</label>
        <!--Este input esta vinculado al formData en su propiedad current_pasword y es requerido-->
        <input 
          type="password" 
          [(ngModel)]="formData().current_password" 
          name="current_password" 
          placeholder="Escribe tu contraseña actual"
          required
        >
      </div>

      <hr class="separator">

      <div class="info-group">
        <label>Nueva Contraseña</label>
        <!--Este input nos sirve para guardar la nueva contraseña y esta vinculado formData en su propiedad password-->
        <input
          type="password" 
          [(ngModel)]="formData().password" 
          name="password" 
          placeholder="Mínimo 8 caracteres"
          required
        >
      </div>

      <div class="info-group">
        <label>Confirmar Nueva Contraseña</label>
        <!--Este input es para confirmar la nueva contraseña y asegurarnos que es igual esta vinculado a formData en su propiedad password_confirmation-->
        <input 
          type="password" 
          [(ngModel)]="formData().password_confirmation" 
          name="password_confirmation" 
          placeholder="Repite la nueva contraseña"
          required
        >
      </div>
<!--Este contendor div contiene nuestro boton de tipo submit para actualizar la contraseña y nuestro link de cancelar para volver a products-->
      <div class="card-actions">
        <button type="submit" class="btn-update-pass">
          🔑 Actualizar Seguridad
        </button>
        <a routerLink="/products" class="back-link">Cancelar</a>
      </div>
    </form>
  </div>
</div>